/* Divisions
  --------- */

* {
  margin:0;
  padding:0;
}
body {
  font-family:Lato, "Dejavu Sans", Helvetica, Arial, sans-serif;
  /* Lato variants:300, 400 (regular), 700, 900. Left out 100 and italics for 700 and 900. */
  text-align:center; /* Centering content for IE 6, See http://www.bluerobot.com/web/css/center1.html */
  font-size:100%;
  line-height:1.5em;
  word-spacing:0.05em;
}
html > body { /* hide from IE 6 */
  font-size:16px;
  background:url('baseline.png');
}

/* 1em now equals 20px */

#admin-bar {
  text-align:left; /* Centering content for IE 6, reset. */
  background-color:black;
}
#admin-bar ul li {
  display:inline;
  margin-left:1em;
}
nav {
  font-weight:900;
  margin-bottom:1.45em;
}
nav#pages {
  border-top:1px solid; /* Chromium does not draw a border at all, if asked for 0.05em width, unless zoomed in */
  padding-top:1.5em;
  color:#999;
}
nav#pages * {
  margin-right:1em;
}
.noscript-warning {
  background-color:#ff9;
  margin-left:-1ex;
  margin-right:-1ex;
  padding-left:1ex;
  padding-right:1ex;
}
#main {
  text-align:left; /* Centering content for IE 6, reset. */
  margin:0px auto; /* Centering content in sane browsers */
  max-width:40em;
  padding:0 4em;
  background:-moz-linear-gradient(left, rgba(255,255,255,0),
    rgba(255,255,255,40),
    rgba(255,255,255,40),
    rgba(255,255,255,0));
  background:-webkit-linear-gradient(left, rgba(255,255,255,0),
    rgba(255,255,255,40),
    rgba(255,255,255,40),
    rgba(255,255,255,0));
}
article {
  border-top:1px solid;
  margin-top:-1px;
}
article header {
  margin-bottom:1.5em;
}
.times { /* also note "div#comments div.times" */
  float:left;
  margin-left:-13em;
  width:12em;
  font-weight:300;
  text-align:right;
}
.hour-minute {
  min-width:3em;
  display:inline-block;
  text-indent:0; /* undo from p + p */
}
.article-meta p {
  text-indent:0;
}
.updated {
  /* 3 lines minimum to make the article body as high
    as the Created and Updated timestamps to the left of it*/
  min-height:4.5em;
}
footer {
  margin-top:1.5em;
  margin-bottom:0.75em;
  font-weight:300;
}


/* Headlines
  --------- */

h1 {
  font-size:150%;
  font-weight:700;
  line-height:2em;
}
h2, h3 {
  font-size:125%; /* 20px, room for margin:48px */
  font-weight:900;
  margin-top:1.2em;
  margin-bottom:1.2em;
}
h2 span.admin-editable { /* Keep the Aloha-editable element from colapsing, if emptied */
  display:block;
  min-height:1em;
}
h3 {
  font-weight:700;
}
h4, h5, h6 {
  font-size:100%;
  font-weight:400;
  margin-top:1.5em;
}


/* Plain text and paragraphs
  ------------------------- */

p + p { /* first line indents for all but first paragraphs */
  text-indent:1.5em;
}
.article-body {
  margin-bottom:1.5em;
}

/* Lists
  ----- */

ul {
  margin-left:1em;
}
nav ul {
  margin-left:0;
}
nav ul li {
  display:inline;
  margin-right:1em;
}
ul#journal {
  margin-left:0;
}
ul#journal > li {
  display:inline;
}
li {
  list-style:disc;
}


/* Item tables
  ----------- */

table#stored-items {
  border-collapse:collapse;
  font-weight:300;
  margin-bottom:1.5em;
}
table#stored-items td {
  margin:0;
  padding-right:1em;
}
#stored-items .view {
  font-weight:400;
}


/* Links
  ----- */

a {
  text-decoration:none;
  color:#b30;
}
a:hover {
  color:#d40;
}
a:active {
  color:#a20;
}
#admin-bar {
  color:#666;
  font-weight:400;
}
#admin-bar a {
  color:#c40;
}
a.comment-anchor {
  font-weight:300;
}


/* Forms
  ----- */

p#slug * {
  margin-top:1.3em;
}
table.form {
  border-collapse:collapse;
  margin-top:-0.2em;
}
label {
  margin-right:1ex;
}
input+label {
  margin-right:1.5em;
}
label:after { /* colon after labels ... */
  content:":";
}
input+label:after { /* ... but not for labels following inputs */
  content:"";
}
input {
  font-size:100%;
  margin-right:0.5ex!important; /* has to top ext.js CSS */
}
input[type='text'] {
  height:1.4em;
  border:1px solid #999;
}
input[type='submit'] {
  margin-top:1.5em;
  height:1.7em;
}
input[type='checkbox'] {
  margin-right:1px!important; /* Has to trump ext-all.css */
}
input[type='checkbox'] + input[type='checkbox'] {
  margin-left:1.5em;
}
.warning {
  background:#fe9;
}
.start-blank { /* Editables that start with no content need a frame and min-height: */
  margin-top:1.5em;
  margin-bottom:-0.125em;
  min-height:1.5em;
  border:1px solid #999;
}
.editable {
  cursor:text;
  word-wrap: break-word;
}
fieldset {
  margin-top:1.5em!important; /* Has to trump ext-all.css */
  border-style:none;
}

/* Comments
  -------- */

.thread {
  margin-bottom:0;
  padding-bottom:1.5em;
}
.thread .thread {
  padding-left:1em;
  border-left:1px solid #999;
}

/* Ugly, but how else to get the margin notes to line up? */
#comments .times {
  margin-top:0;
}
.thread .thread .times {
  margin-left:-14em;
}
.thread .thread .thread .times {
  margin-left:-15em;
}
.thread .thread .thread .thread .times {
  margin-left:-16em;
}
.thread .thread .thread .thread .thread .times {
  margin-left:-17em
}
.thread .thread .thread .thread .thread .thread .times {
  margin-left:-18em;
}
.thread .thread .thread .thread .thread .thread .thread .times {
  margin-left:-19em;
}
.thread .thread .thread .thread .thread .thread .thread .thread .times {
  margin-left:-20em;
}
.thread .thread .thread .thread .thread .thread .thread .thread .thread .times {
  margin-left:-21em;
}
.comment {
  padding-top:1.5em;
}
#comments > .thread > .thread > .comment { /* Reduce from 2 to 1 empty line above first level comments */
  padding-top:0;
}
.thread + .comment-form { /* Close gap between thread and following comment-form, to have the border-left touch the comment-form rectangle */
  margin-top:-1.5em;
}
.comment-form * {
  color:#048;
}
#comments .editable {
  margin-top:1.5em;
  border-color:#37b;
  padding:0;
  padding-left:0.1em;
  padding-right:0.1em;
  margin-bottom:-0.15em!important; /* Counter-act drift */
}
.thread .editable {
  margin-bottom:1.5em;
}
.expanded .editable {
  margin-bottom:0;
}
.thread .thread .editable {
  margin-bottom:0!important;
}
#comments .internal-label {
  font-style:italic;
  color:#48c;
}
#comments table {
  margin-top:-0.1em; /* Gets the borders of the editable and the table cell in alignment. */
  border-spacing:0; /* Make the table tight: */
  border-collapse:collapse;
  width:100%;
}
#comments table input[type='text'] {
  width:100%;
}
#comments table input { /* No border on the inputs in the table, as they don't meat cleanly ... */
  border:none;
}
#comments td + td { /* ... instead borders on their cells. */
  border-collapse:collapse;
  border:1px solid;
  border-top:none;
  width:100%;
}
#comments tr:first-child td {
  border-bottom:none;
}
#comments input[type='submit'] {
  margin-top:1.35em; /* Get Submit button to be on baseline grid, as the comment table refuses to fit. */
  margin-bottom:0.15em;
  height:1.5em;
  width:100%;
  border:1px solid #acf;
  border-radius:4px;
  background-color:#def;
  background:-moz-linear-gradient(center top, #f4faff 25%, #eef4fd 100%);
  background:-webkit-gradient(linear, left top, left bottom,
                     color-stop(0.25, #f4faff),
                     color-stop(1, #eef4fd));
  box-shadow:0 0.05em 0.05em 0.05em rgba(0,20,80,0.1);
  text-shadow:0 0.05em #fff;
  color:#048;
}
#comments input[type='submit']:hover {
  background-color:#dffaff;
  background:-moz-linear-gradient(center top, #f8feff 25%, #eef4fd 100%);
  background:-webkit-gradient(linear, left top, left bottom,
                     color-stop(0.25, #f8feff),
                     color-stop(1, #eef4fd));
}
#comments input[type='submit']:active {
  background-color:#dbecfd;
  background:-moz-linear-gradient(center top, #f2f8fd 25%, #ecf2fb 100%);
  background:-webkit-gradient(linear, left top, left bottom,
                     color-stop(0.25, #f2f8fd),
                     color-stop(1, #ecf2fb));
}
#comments input[disabled], #comments input[disabled]:hover { /* Disabled button */
  background:white;
  border-style:dashed;
  color:#48c;
  box-shadow:none;
}
.to-be-replied-to {
  /* For highlighting what will be replied to on hovering a reply field */
  box-shadow:0 0 0 0.5em #cef;
  background-color:#cef;
}
.comment-deleter {
  float:right;
  font-weight:300;
}
#comments > div {
  padding-bottom:1.5em;
}
#comments .to-be-deleted, #comments .delete-queued {
  text-decoration:line-through;
}
.anchored {
  /*font-weight:900;*/
  background-color:#b30;
  color:#fff;
  padding-left:1ex;
  padding-right:0.8ex;
  margin-right:0.5ex;
  border-radius:100%;
}
#comments .updated > div:nth-child(3) {
/* Make sure there is one line free below the timestamp marginalia for updated comments */
  min-height:3em;
}

/* Counteract Ext.js CSS
  --------------------- */

article strong {
  font-weight:700;
}
article em {
  font-style:italic;
}

/* Fix Aloha list-style to get rid of dots in the floating menu */
.GENTICS_floatingmenu li, .GENTICS_multisplit li {
  list-style-type:none;
}